 #reservation{
    height: ;
    font-size: 1.6rem;
    color: #af3f68;
    background-size: cover;
    text-align: ;

 }
 #reservation form {
    display: flex;
    flex-direction: column;
   
 }
 #reservation form p{
    padding: 5px;

 }
 


